page-my-ming-pian {
    .card1 {
        background: url('../assets/imgs/card/card-bg1.png') !important;
    }
    .card2 {
        background: url('../assets/imgs/card/card-bg2.png') !important;
    }
    .card3 {
        background: url('../assets/imgs/card/card-bg3.png') !important;
    }
    .card1,
    .card2,
    .card3 {
        background-repeat: repeat;
        position: relative;
        z-index: -2;
        margin: 0 !important;
        width: 100% !important;
    }
    .grid {
        padding: 0 !important;
    }
    .card-content {
        padding: 13px 5px !important;
    }
    .cover-layer {
        background: #000000;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #000000 0%, #5b5b5b 64%, #afafaf 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #000000 0%, #5b5b5b 64%, #afafaf 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #000000 0%, #5b5b5b 64%, #afafaf 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.3;
        z-index: -1;
    }
    .card-top1 {
        background: url('../assets/imgs/card/card-top1.png') no-repeat;
        width: 100px;
        height: 100px;
    }
    .card-top2 {
        background: url('../assets/imgs/card/card-top2.png') no-repeat;
        width: 100px;
        height: 100px;
    }
    .card-top3 {
        background: url('../assets/imgs/card/card-top3.png') no-repeat;
        width: 150px;
        height: 100px;
        opacity: 0.15;
    }
    .card-top1,
    .card-top2,
    .card-top3 {
        background-position: top left;
        background-size: contain;
        position: absolute;
        z-index: -1;
    }
    .card-bottom1 {
        background: url('../assets/imgs/card/card-bottom1.png') no-repeat;
        width: 80px;
        height: 80px;
    }
    .card-bottom2 {
        background: url('../assets/imgs/card/card-bottom2.png') no-repeat;
        width: 80px;
        height: 80px;
    }
    .card-bottom3 {
        background: url('../assets/imgs/card/card-bottom3.png') no-repeat;
        width: 150px;
        height: 80px;
        opacity: 0.15;
    }
    .card-bottom1,
    .card-bottom2,
    .card-bottom3 {
        background-position: bottom right;
        background-size: contain;
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
    }
    .item {
        background: transparent !important;
    }
    .user-img {
        padding: 15px;
    }
    h1,
    h2,
    h3,
    ion-col,
    p {
        color: white !important;
    }
    h1,
    h2,
    h3 {
        text-align: center;
    }
    h1 {
        color: #ecdd44 !important;
        font-weight: 800 !important;
    }
    h2 {
        font-weight: 600 !important;
    }
    .col .button {
        margin: 0 !important;
    }
}