<!--
  Generated template for the MyMingPianPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>我的名片</ion-title>
        <ion-buttons end (click)="changeMingpian()">
            <button ion-button>
                修改内容
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="assets/imgs/other/setting_BG.jpg" alt="" class="one-way-bg">
    <ion-list>
        <ion-item>
            <ion-label>名片格式</ion-label>
            <ion-select [(ngModel)]="card_style" (ngModelChange)="changeStyle($event)">
                <ion-option value="1">名片格式 1</ion-option>
                <ion-option value="2">名片格式 2</ion-option>
                <ion-option value="3">名片格式 3</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-card class="card{{card_style}}">
        <div class="cover-layer"></div>
        <div class="card-top{{card_style}}"></div>
        <div class="card-bottom{{card_style}}"></div>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h1>{{friendData.c_name}}</h1>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6 class="user-img">
                        <img src="assets/imgs/other/default.png" *ngIf="!photo">
                        <img src="{{serverUrl}}/profile_imgs/{{photo}}" *ngIf="photo">
                    </ion-col>
                    <ion-col col-6>
                        <h2>{{realname}}</h2>
                        <h3>{{friendData.job_cate}}</h3>
                        <button ion-button icon-start small color="light" clear *ngIf="friendData.mobile1">
                            <ion-icon name="call"></ion-icon>
                            {{friendData.mobile1}}
                        </button>
                        <button ion-button icon-start small color="light" clear *ngIf="friendData.mobile2">
                            <ion-icon name="call"></ion-icon>
                            {{friendData.mobile2}}
                        </button>
                        <button ion-button icon-start small color="light" clear *ngIf="friendData.mobile3">
                            <ion-icon name="call"></ion-icon>
                            {{friendData.mobile3}}
                        </button>
                        <button ion-button icon-start small color="light" clear *ngIf="friendData.phone1">
                            <ion-icon name="phone-portrait"></ion-icon>
                            {{friendData.phone1}}
                        </button>
                        <button ion-button icon-start small color="light" clear *ngIf="friendData.phone2">
                            <ion-icon name="phone-portrait"></ion-icon>
                            {{friendData.phone2}}
                        </button>
                        <button ion-button icon-start small color="light" clear *ngIf="friendData.phone3">
                            <ion-icon name="phone-portrait"></ion-icon>
                            {{friendData.phone3}}
                        </button>
                        <!-- <p *ngFor="let cate of other_cate; let nIdx = index"><u>其他社会职务{{nIdx + 1}}:</u><br>{{cate}}</p> -->
                        <!-- <p *ngIf="friendData.other_cate">其他社会职务:</p>
                        <p *ngIf="friendData.other_cate">{{friendData.other_cate}}</p> -->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p *ngFor="let cate of other_cate; let nIdx = index"><u>其他社会职务{{nIdx + 1}}: </u>{{cate}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngIf="friendData.job_desc">
                        <p><u>社会贡献:</u></p>
                        <p>{{friendData.job_desc}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p><u>地址:</u> {{friendData.c_address}}</p>
                        <p><u>邮箱:</u> {{friendData.email}}</p>
                        <p><u>网址:</u> {{friendData.homepage}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
        <!-- <ion-row>
            <ion-col>
                <button ion-button icon-start clear small (click)="callFriend(friendData.mobile)">
                    <ion-icon name="call"></ion-icon>
                    <div>{{friendData.mobile}}</div>
                </button>
            </ion-col>
        </ion-row> -->
    </ion-card>
</ion-content>