page-forgot-password {
    .login-content {
        overflow: hidden;
        .logo-row {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .login-box {
            padding: 5px 20px 0px 20px;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            font-size: 0.9em;
            margin-bottom: 10px;
            box-shadow: none !important;
            background: transparent;
        }
        .list .item {
            padding-left: 0;
            margin: 0 !important;
        }
        .item ion-icon {
            margin: 0 !important;
        }
        .list ion-item {
            border-bottom: solid 1px #dedede !important;
        }
        .label {
            font-size: 16px;
        }
        .item-inner {
            border-bottom: 0 !important;
            box-shadow: none !important;
        }
        .text-input {
            font-size: 16px;
        }
        .forgot-btn {
            font-size: 0.8em;
        }
        .forgot-btn .button-inner {
            justify-content: flex-end;
            text-align: right;
        }
        .login-btn {
            margin-top: 20px;
            font-size: 16px;
        }
        .list>.item-block:first-child {
            border-top: none !important;
        }
        .list>.item-block:last-child,
        .list>.item-wrapper:last-child .item-block {
            border-bottom: 0.55px solid #dedede !important;
        }
    }
}