page-my-wallet-coin-out {
    .scroll-content {
        padding: 0 !important;
        color: #e2e2e2;
    }
    .cate-grid {
        // background: #435053;
        background: #05596d;
        padding: 10px 0;
    }
    .cate-grid ion-col {
        text-align: center;
        padding: 0 !important;
    }
    .cate-grid ion-icon {
        font-size: 30px;
        color: #e2e2e2;
    }
    .item-desc {
        text-align: center;
        width: 100%;
    }
    .balance-value {
        font-size: 12px;
    }
    .text-on-bottom {
        white-space: unset !important;
        width: 100% !important;
        height: 100% !important;
        background: transparent;
        margin: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }
    .button.activated {
        background-color: #313131 !important;
    }
    .text-on-bottom .button-inner {
        display: block !important;
        padding: 16px;
        text-transform: initial !important;
    }
    .list .item-block .item-inner {
        border-bottom: 0 !important;
    }
    .border-bottom {
        border-bottom: 1px solid #efefef !important;
    }
    .list button ion-label {
        color: #333333;
    }
    .tabs .tab-button[aria-selected=true],
    .tabs .tab-button[aria-selected=true] .tab-button-icon {
        // color: #f44336;
        color: #f44336;
    }
    .value-area {
        // background: #435053;
        background: #05596d;
        padding: 10px;
        ion-label {
            text-align: center;
        }
        .item-inner {
            border-bottom: 0 !important;
            color: white;
            font-size: 20px;
        }
    }
    .item p {
        font-size: 20px;
        color: white;
        margin: 2px 0 5px 0;
    }
    .value-item {
        font-size: 16px;
    }
    .value-item-time {
        text-align: right;
        color: #808080;
        font-size: 12px;
    }
    .back-button-custom {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        margin: 0 6px;
        min-width: 44px;
    }
}