<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>城市商城</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="assets/imgs/other/setting_BG.jpg" alt="" class="one-way-bg">
    <div class="slogan_div" (click)="gotoInternetShopMole()">
        <!-- <h3>共享富足, 共享快乐</h3> -->
        <h3>进入网络商城</h3>
    </div>
    <ion-searchbar (click)="inputProvinceData()" [placeholder]="" [(ngModel)]="diqu" readonly></ion-searchbar>
    <ion-slides class="top-slider" (ionSlideDidChange)="slideChanged()" (click)="gotoInternetShopMole()">
        <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background-image': 'url(assets/imgs/other/banner/banner0' + slide.id + '.jpg)'}">
        </ion-slide>
    </ion-slides>
    <ion-list>
        <ion-list-header>
            {{diqu}}
        </ion-list-header>
        <div *ngIf="isValid">
            <ion-item *ngFor="let mole of shop_moles" (click)="showCurrentMole(mole.id, mole.lat, mole.lng);">
                <ion-avatar item-start>
                    <img src="assets/imgs/other/shop_default.png" *ngIf="!mole.logo">
                    <img src="http://unak.vip/uplus/Resource/images/proimgs/upload/{{mole.logo}}" *ngIf="mole.logo">
                </ion-avatar>
                <h2>{{mole.title}}</h2>
                <h3>商家地址： {{mole.address}}</h3>
            </ion-item>
            <ion-item *ngIf="shop_moles.length == 0">
                没有商城
            </ion-item>
        </div>
        <p *ngIf="!isValid" style="padding: 5px 10px; color: brown;">
            目前是2.0版本测试版，只能登录观看注册地，暂不支持此全国浏览功能。
        </p>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>