page-setting {
    .scroll-content {
        padding: 16px 0 !important;
    }
    .list .item-block .item-inner {
        border-bottom: 0 !important;
    }
    .border-bottom {
        border-bottom: 1px solid #efefef !important;
    }
    .list button ion-label {
        color: #333333;
    }

    ion-list ion-icon {
        color: #488aff;
    }
}