page-my {
    .qr-code {
        width: 35px;
        height: 35px;
    }
    .item h2 {
        margin: 0 0 10px 0 !important;
        color: #333333;
    }
    .scroll-content {
        padding: 16px 0 !important;
    }
    .list .item-block .item-inner {
        border-bottom: 0 !important;
    }
    .border-bottom {
        border-bottom: 1px solid #efefef !important;
    }
    .list button ion-label {
        color: #333333;
    }
    .item ion-thumbnail {
        min-width: 70px;
        min-height: 70px;
    }
    .item ion-thumbnail ion-img,
    .item ion-thumbnail img {
        width: 70px;
        height: 70px;
    }
    .download {
        // border-top: solid 1px red !important;
        // border-bottom: solid 1px red !important;
        background: #97ffe7;
        .label {
            color: red;
        }
    }
    .item {
        ion-badge {
            position: absolute;
            top: 15px;
            right: 10px;
        }
    }

    ion-icon {
        color: #488aff;
    }

    ion-navbar ion-icon {
        color: white;
    }
}