normall-popover {
    .popover-content {
        width: 200px;
    }
    .list {
        margin: 0;
        padding: 0;
        // background: #f44336;
        background: #f44336;
    }
    .item {
        padding: 0;
        background: transparent !important;
        color: #efefef;
    }
    .item .icon {
        margin: 0 10px;
    }
    .list .item-block .item-inner {
        margin: 0;
    }
    .list .item-block .item-inner {
        border-bottom: 0 !important;
    }
    .border-bottom {
        border-bottom: 1px solid #efefef !important;
    }
    .list button ion-label {
        color: #333333;
    }
    .list>.item-block:last-child,
    .list>.item-wrapper:last-child .item-block {
        border-bottom: none !important;
    }
    .list>.item-block:first-child {
        border-top: none !important;
    }
}